/* Webfont: TavernloreBB-Regular */
@font-face {
    font-family: 'TavernloreBB';
    src: url('Tavernlore/TavernloreBB-Regular.eot'); /* IE9 Compat Modes */
    src: url('Tavernlore/TavernloreBB-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Tavernlore/TavernloreBB-Regular.woff') format('woff'), /* Modern Browsers */
         url('Tavernlore/TavernloreBB-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Tavernlore/TavernloreBB-Regular.svg#TavernloreBB-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

